* {
    margin: 0;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
body, html {
    direction: rtl;
    background: #555; /* testing */
    height: auto !important;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside none;
}
a{
    text-decoration: none;
    color: #000;
}
img, a img,a {
    outline: none;
}
.menu {
    margin: 30px 65px;
    background: url("images/menubg.png") repeat 0 0 transparent;
    border-radius: 7px;
    height: 40px;
}
.menuLogo {
    width: 600px;
    margin: 0 auto;
}
.menu li {
    display: inline-block;
}
.menu .icon li a {
    background: rgba(0, 0, 0, 0) url("images/icons2.png") repeat scroll 112px 218px;
    float: left;
    height: 20px;
    width: 20px;
}
.menu .icon li a,.menu, .menu .PLogo {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.menu .icon li.pos1 a { background-position: 39px 278px; }  .menu .icon li.pos1 a:hover { background-position: 39px 248px; }
.menu .icon li.pos2 a { background-position: 63px 278px; }  .menu .icon li.pos2 a:hover { background-position: 63px 248px; }
.menu .icon li.pos3 a { background-position: 87px 278px; }  .menu .icon li.pos3 a:hover { background-position: 87px 248px; }
.menu .icon li.pos4 a { background-position: 111px 278px; } .menu .icon li.pos4 a:hover { background-position: 111px 248px; }
.menu .icon li.pos5 a { background-position: 135px 278px; } .menu .icon li.pos5 a:hover { background-position: 135px 248px; }
.menu .icon li.pos6 a { background-position: 159px 278px; } .menu .icon li.pos6 a:hover { background-position: 159px 248px; }
.page2 .PLogo { background-position: -21px -128px;}
.page2 .menu .icon li.pos1 a { background-position: 39px 218px; }  .page2 .menu .icon li.pos1 a:hover { background-position: 39px 188px; }
.page2 .menu .icon li.pos2 a { background-position: 63px 218px; }  .page2 .menu .icon li.pos2 a:hover { background-position: 63px 188px; }
.page2 .menu .icon li.pos3 a { background-position: 87px 218px; }  .page2 .menu .icon li.pos3 a:hover { background-position: 87px 188px; }
.page2 .menu .icon li.pos4 a { background-position: 111px 218px; } .page2 .menu .icon li.pos4 a:hover { background-position: 111px 188px; }
.page2 .menu .icon li.pos5 a { background-position: 135px 218px; } .page2 .menu .icon li.pos5 a:hover { background-position: 135px 188px; }
.page2 .menu .icon li.pos6 a { background-position: 159px 218px; } .page2 .menu .icon li.pos6 a:hover { background-position: 159px 188px; }
.page3 .PLogo { background-position: -21px -228px;}
.page3 .menu .icon li.pos1 a { background-position: 39px 158px; }  .page3 .menu .icon li.pos1 a:hover { background-position: 39px 128px; }
.page3 .menu .icon li.pos2 a { background-position: 63px 158px; }  .page3 .menu .icon li.pos2 a:hover { background-position: 63px 128px; }
.page3 .menu .icon li.pos3 a { background-position: 87px 158px; }  .page3 .menu .icon li.pos3 a:hover { background-position: 87px 128px; }
.page3 .menu .icon li.pos4 a { background-position: 111px 158px; } .page3 .menu .icon li.pos4 a:hover { background-position: 111px 128px; }
.page3 .menu .icon li.pos5 a { background-position: 135px 158px; } .page3 .menu .icon li.pos5 a:hover { background-position: 135px 128px; }
.page3 .menu .icon li.pos6 a { background-position: 159px 158px; } .page3 .menu .icon li.pos6 a:hover { background-position: 159px 128px; }
.page4 .menu { background: #000; } .page4 a { color: #fff; }
.page4 .PLogo { background-position: -21px -328px;}
.page4 .menu .icon li.pos1 a { background-position: 39px 68px; }  .page4 .menu .icon li.pos1 a:hover { background-position: 39px 38px; }
.page4 .menu .icon li.pos2 a { background-position: 63px 68px; }  .page4 .menu .icon li.pos2 a:hover { background-position: 63px 38px; }
.page4 .menu .icon li.pos3 a { background-position: 87px 68px; }  .page4 .menu .icon li.pos3 a:hover { background-position: 87px 38px; }
.page4 .menu .icon li.pos4 a { background-position: 111px 68px; } .page4 .menu .icon li.pos4 a:hover { background-position: 111px 38px; }
.page4 .menu .icon li.pos5 a { background-position: 135px 68px; } .page4 .menu .icon li.pos5 a:hover { background-position: 135px 38px; }
.page4 .menu .icon li.pos6 a { background-position: 159px 68px; } .page4 .menu .icon li.pos6 a:hover { background-position: 159px 38px; }
.page4 .searchBox #SearchBtn { background-position: -53px 159px; }

.menu .icon {
    padding: 10px 15px;
}
.secNav li:first-child {
    border-left: 1px solid #8a6f54;
}
.secNav li:last-child {
    border-right: 1px solid #8a6f54;
}
.secNav li {
    float: right;
    padding: 0 24px;
    margin: 12px 0;
    
}
.searchBox {
    position: relative;
    margin-top: 9px;
    margin-left: 10px
}
.searchBox #SearchInp {
    width: 132px;
    height: 20px;
    margin: 0;
    border: 0;
    padding: 1px 28px 1px 3px;
    border-radius: 5px;
}
.searchBox #SearchBtn {
    width: 20px;
    height: 20px;
    background: url("images/icons.png") -53px 189px transparent;
    border: none;
    position: absolute;
    right: 5px;
    cursor: pointer;
}
.PLogo {
    background: url("images/icons.png") no-repeat -21px -28px;
    float: right;
    height: 53px;
    width: 249px;
    margin-top: -17px;
}
 .abs {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#slide1{
    background-image: url(images/slide1.jpg);
    padding: 6% 0 0 0;
}
#slide2{
    background-image: url(images/bg1.jpg);
    padding: 6% 0 0 0;
}
.fp-controlArrow.fp-next {
    border: none;
    background: url("images/icons.png") repeat scroll -75px 117px;
    width: 32px;
    height: 75px;
}
.fp-controlArrow.fp-prev {
    border: none;
    background: url("images/icons.png") repeat scroll -17px 117px;
    width: 32px;
    height: 75px;
}
.secNav li a {
    font-family: Yekan, 'Yekan', tahoma, sans-serif;
    line-height: 100%;
}
.secNav .active a {
  text-decoration: underline;
}
.sec2  {
    background: url("images/yellowg.jpg");
}
.sec4  {
    background: url("images/bwg.jpg");
}
